body {
  margin: 0;
    background-color: rgb(248, 247, 244);
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 0px;
  border-bottom: 3px solid rgb(0, 153, 255);
  
}

.pullright {
  float: right;
}

li {
 
  float:left;
 
}

li a {
  font-family:'Times New Roman', Times, serif;
  display: block;
  color: white;
  text-align: center;
  padding:15px 58px;
  text-decoration: none;
  font-size: 20px;
  
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #bbb599;
  
}

.ul a {
  
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
 
}
.dropdown{
  float: left;
  overflow: hidden;
  font-size: 20px;
  
}

.dropdown .dropbtn {
  
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding:15px 58px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.ul a:hover, .dropdown:hover .dropbtn {
  background-color:#bbb599;
  
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #bbb599;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.eraseblueline {
  text-decoration: none;
  color: white;
  
}

 /* index*/
  #alinea1 {
    width: 1500px;
    height: 800px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;
    
  }

 /*breedinfo*/
  #alinea2 {
    width: 1500px;
    height: 800px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;
    
  }

   /*world*/
   #alinea3 {
    width: 1500px;
    height: 800px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;
    
  }
  #IndexBox1 {
    width: 600px;
    height: 100px;
    border:so0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 60% 60% 0% 0%;
    background-color: #bbb599;
    background-image: linear-gradient(rgb(15, 101, 182), rgba(255, 196, 0, 0.63));

  }
 /* index*/
  #IndexBox2 {
    width: 600px;
    height: 100px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;

  }
  /*breedinfo*/
  #Box1 {
    width: 600px;
    height: 100px;
    border:so0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 60% 60% 0% 0%;
    background-color: #bbb599;

  }
/*breedinfo*/
  #Box2 {
    width: 800px;
    height: 330px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;

  }

  #bannermove {
    position: absolute;
    margin-left: -99px;
    margin-top: -15px;
    
  }


  #welcometext {
    padding-left: 10px;
  }

  #Basemove {
    width:500px;
    height: 401px;
    /*border:solid;*/
    position:absolute;
    margin-top:-100px;
    margin-left:100px;
   
    
    
 
    
    
  }
