body {
    background-color: rgb(73, 62, 64);
}

ul {
  width: 800px;
  list-style-type: none;
  margin-right:auto;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
 
  float:left;
}

li a {
  font-family:'Times New Roman', Times, serif;
  display: block;
  color: white;
  text-align: center;
  padding:15px 58px;
  text-decoration: none;
  font-size: 25px;
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #bbb599;
}

  #alinea1 {
    width: 800px;
    height: 330px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;
    
  }
  #alinea2 {
    width: 800px;
    height: 800px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;
    
  }

  #Box1 {
    width: 600px;
    height: 100px;
    border:so0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 60% 60% 0% 0%;
    background-color: #bbb599;

  }

  #Box2 {
    width: 800px;
    height: 330px;
    border:0;
    border-color:blanchedalmond ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 15px 15px 5px 5px;
    background-color: #bbb599;

  }

  .plushiemove {
text-align: center;
  }